a {
  text-decoration: none;
  color: var(--firstlogo);
  font-style: normal;
}

a:hover {
  color: var(--axent);
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
ul,
li,
form,
input,
button,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 15px 0 15px;
  outline: 2px solid black;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.team-wrap, .second-sec__list, .address, .nav-list {
  display: flex;
  align-items: center;
}

.button-footer, .subscribe {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.header-svg {
  fill: #757575;
}

.header-svg:hover {
  fill: #2196f3;
}

.svg-header:hover {
  fill: #2196f3;
}

.header {
  margin-bottom: 32px;
  margin-top: 32px;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  letter-spacing: 3%;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  transition-property: color;
}

.logo:hover,
.logo:focus {
  color: #2196f3;
  color: #2196f3;
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

span {
  color: #2196f3;
}

.header-letter {
  width: 16px;
  height: 12px;
  position: relative;
  top: 2px;
  right: 4px;
}

.header-phone {
  width: 10px;
  height: 16px;
  position: relative;
  top: 3px;
  right: 5px;
}

.nav-item {
  color: #212121;
  margin-right: 50px;
  transition-property: color;
}

.nav-item :hover {
  color: #2196f3;
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-under {
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: transparent;
  display: block;
  transition-property: background-color;
}

.nav-item-under:hover {
  background-color: #2196f3;
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-undertwo {
  width: 75px;
  height: 4px;
  border-radius: 2px;
  background-color: transparent;
  display: block;
  transition-property: background-color;
}

.nav-item-undertwo:hover {
  background-color: #2196f3;
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-underthree {
  width: 68px;
  height: 4px;
  border-radius: 2px;
  background-color: transparent;
  display: block;
  transition-property: background-color;
}

.nav-item-underthree:hover {
  background-color: #2196f3;
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 2%;
  font-size: 14px;
  line-height: 1.17;
  color: #000000;
}

.nav-item:last-child {
  margin-right: 344px;
}

.address {
  justify-content: space-between;
}

.nav-adress {
  margin-right: 50px;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-family: "Roboto", serif;
  font-weight: 500;
  line-height: 1.17;
  transition-property: color;
}

.nav-adress :hover {
  color: #2196f3;
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-adress:last-child {
  margin-right: auto;
}

.nav-adress:hover,
.nav-adress:focus {
  color: #2196f3;
}

.modelhtwo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
  letter-spacing: 3%;
  text-align: center;
  color: black;
  margin-top: 40px;
}

.nametitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 1%;
  color: #757575;
  position: relative;
  right: 210px;
  bottom: 5px;
}

.inputname {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 10px;
  position: relative;
  left: 2px;
}

.namenumber {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 10px;
}

.inputnubmer {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 1%;
  color: #757575;
  position: relative;
  right: 200px;
  bottom: 5px;
}

.modal-person {
  width: 15px;
  height: 15px;
  position: relative;
  right: 440px;
  fill: #212121;
}

.modal-phone {
  width: 15px;
  height: 15px;
  position: relative;
  right: 440px;
  fill: #212121;
}

.modal-envelope {
  width: 15px;
  height: 15px;
  position: relative;
  right: 440px;
  fill: #212121;
}

.inputemail {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 1%;
  color: #757575;
  position: relative;
  right: 205px;
  bottom: 5px;
}

.nameemail {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 10px;
}

.checkbox {
  position: relative;
  top: 22px;
  right: 430px;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
}

.nametextarea {
  font-family: "Roboto" sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 1%;
  color: #757575;
  position: relative;
  right: 200px;
  top: 10px;
}

.inputtextarea {
  margin-top: 20px;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid border rgba(33, 33, 33, 0.2);
}

.inputagreement {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  color: #757575;
}

.submit-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #2196f3;
  background-color: #2196f3;
  color: #ffffff;
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  margin-top: 30px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  transition-property: background-color;
}

.submit-btn:hover {
  background-color: rgba(128, 128, 128, 0.53);
  transition-duration: 0.5s;
  transition-delay: 1ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  position: relative;
  left: 245px;
  bottom: 60px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: transparent;
}

.backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(39, 39, 43, 0.2);
}

.model {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.no-scroll {
  overflow: hidden;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}
.section-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.section-item {
  text-align: center;
}

.icon {
  width: 60px;
  height: 60px;
  margin: 0 auto 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.wrp {
  border: 1px solid white;
  width: 260px;
  height: 120px;
  border-radius: 4px 0px 0px 0px;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: #f5f4fa;
  margin-bottom: 20px;
}

.section-img {
  width: 70px;
  height: 70px;
}

.section-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.first-section {
  background-color: #2f303a;
  color: white;
  padding: 200px 0px;
  background-image: url("../img/Img.png");
}

.first-sc-title {
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06%;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}

.seciton-list {
  display: flex;
  gap: 30px;
}

.section-list::before {
  content: "";
  height: 50px;
  width: 90px;
  background-image: url(./img/Group.jpg);
  background-size: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.team {
  background-color: #f5f4fa;
}

.information {
  background-color: #2f303a;
}

li {
  list-style-type: none;
  text-decoration: none;
}

.first-section {
  text-align: center;
}

.my-button {
  margin: 0 auto;
  background-color: #2196f3;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  transition-property: color;
  border-radius: 5px;
}

.my-button:hover {
  background-color: #f1f4f6;
  color: #2196f3;
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.my-button:focus {
  outline: none;
}

.section-title {
  text-transform: capitalize;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 3%;
  padding-bottom: 10px;
}

.section-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
  color: #757575;
}

@media screen and (min-width: 480px) {
  .second-sec {
    display: flex;
    flex-direction: column;
  }
}
.second-sec__text {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
  padding-top: 27px;
  padding-right: 107px;
  padding-left: 107px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  position: relative;
  top: -73px;
}
.second-sec__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 3%;
  text-align: center;
  padding-bottom: 50px;
  margin-top: 20px;
}
.second-sec__list {
  justify-content: space-between;
}
@media screen and (min-width: 480px) {
  .second-sec__list {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .second-sec__list {
    flex-direction: row;
  }
}
.second-sec__item {
  padding-bottom: 90px;
}

.svghover:hover {
  padding: 12px;
  border-radius: 50%;
  border-color: transparent;
  border-radius: 360px;
  display: inline-block;
  background-color: #2196f3;
  transition-duration: 250ms;
  transition-delay: 1ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) f;
}

.svghover {
  transition: background-color;
}

.team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
}
@media screen and (min-width: 480px) {
  .team {
    display: flex;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    margin: 0 auto;
  }
}

.team-wrap {
  justify-content: space-between;
}
@media screen and (min-width: 480px) {
  .team-wrap {
    flex-direction: column;
    width: 100%;
    display: inline;
  }
}
@media screen and (min-width: 1200px) {
  .team-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 3%;
  text-align: center;
  padding-bottom: 50px;
}

.team-list {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 480px) {
  .team-list {
    width: 450px;
    height: 460px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    margin-right: 30px;
    width: 270px;
    height: 428px;
  }
}

.team-item {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .team-item {
    margin-bottom: 30px;
    align-items: center;
  }
}

.team-image {
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .team-image {
    width: 450px;
    height: 460px;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
  }
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 3%;
  text-align: center;
  padding-bottom: 10px;
}
@media screen and (min-width: 480px) {
  .team-name {
    padding-top: 30px;
  }
}

.team-job {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 3%;
  text-align: center;
  padding-bottom: 10px;
}
@media screen and (min-width: 480px) {
  .team-job {
    padding-top: 10px;
  }
}

.teamsvg-wrap {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  margin-bottom: 30px;
  margin-top: 16px;
}
@media screen and (min-width: 480px) {
  .teamsvg-wrap {
    padding-top: 16px;
  }
}

.team-svg {
  width: 20px;
  height: 20px;
  fill: #757575;
  transition-property: fill;
}
@media screen and (min-width: 480px) {
  .team-svg {
    margin-right: 16px;
  }
}

.team-svg:hover {
  fill: var(--maintext);
  display: block;
  color: #2196f3;
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-title {
  text-align: center;
  font-family: "Roboto", serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
  margin-bottom: 23px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: fill;
}

.clients-item :hover {
  fill: #2196f3;
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-svgone {
  width: 130px;
  height: 100px;
  position: relative;
  left: 20px;
  fill: #afb1b8;
}

.clients-svgtwo {
  width: 130px;
  height: 100px;
  position: relative;
  left: 20px;
  fill: #afb1b8;
}

.clients-svgthree {
  width: 130px;
  height: 100px;
  position: relative;
  left: 20px;
  fill: #afb1b8;
}

.clients-svgfour {
  width: 130px;
  height: 100px;
  position: relative;
  left: 20px;
  fill: #afb1b8;
}

.clients-svgsix {
  width: 130px;
  height: 100px;
  position: relative;
  left: 20px;
  fill: #afb1b8;
}

.clients-svgfive {
  width: 130px;
  height: 100px;
  position: relative;
  left: 20px;
  fill: #afb1b8;
}

.footer {
  background-color: #2f303a;
  padding-top: 30px;
}

.footer-wrap {
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 3%;
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  position: relative;
  padding-left: 10px;
  display: inline;
}

.footer-logo:hover {
  color: #757575;
}

.footer-item-adrs {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
  color: white;
  padding-bottom: 10px;
  margin-top: 10px;
  font-style: normal;
}

.footer-first-link {
  color: rgba(255, 255, 255, 0.613);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  margin-bottom: 10px;
}

.footer-first-num {
  color: rgba(255, 255, 255, 0.613);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
}

.footer-item #cls {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 10px;
}

.footer-s-title {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
}

.footer-svg {
  width: 20px;
  height: 20px;
  fill: white;
  transition-property: fill;
}

.footer-svg:hover {
  fill: #ffffff;
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-wrap {
  position: relative;
  left: 300px;
  top: -126px;
}

.footer-svg-item {
  display: inline;
  margin-right: 12px;
}

.vgh-footer-hover {
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 360px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1019607843);
  transition-property: background-color;
}

.vgh-footer-hover:hover {
  background-color: #2196f3;
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe {
  line-height: 16.41px;
  letter-spacing: 0.03em;
  color: white;
  margin-bottom: 20px;
}

.email {
  background-color: #2f303a;
  border: 1px solid border rgba(255, 255, 255, 0.3019607843);
  width: 358px;
  height: 50px;
  padding-left: 10px;
  border-radius: 4px;
  margin-right: 12px;
}

.button-footer {
  width: 200px;
  height: 50px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: #2196f3;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  transition-property: color;
  border-radius: 5px;
  transition-property: background-color;
}

.button-footer:hover {
  background-color: #757575;
  transition-duration: 250ms;
  transition-delay: 3ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send {
  width: 23.9999961853px;
  height: 24.0000514984px;
  position: relative;
  top: 13px;
  right: 38px;
}

.wrapchk {
  display: flex;
}

.footer-t-s {
  position: relative;
  left: 500px;
  top: -187px;
}