:root {
    --axent-color: #dde5ec;
}

body{
    font-family: "Roboto";

}
/*-----header-----*/


.main-logo {
    font-family:"Raleway",sans-serif;
    letter-spacing: 3%;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
}
a{
    text-decoration: none;
    color: black;
}
span{
    color: rgb(39, 123, 179);
}
.nav-item{
    font-family:"Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 2%;
    font-size: 14px;
    line-height: 1.17;
    color: black;
}
a:hover{
    background-color: #f1f4f6;
    color: blue;
}
.first-section{
    background-color: #2F303A;
    color: white;
   }
.team{
       background-color: #F5F4FA;
   }
 .information{
       background-color: #2F303A;
   }
li{
    list-style-type: none;
    text-decoration: none;
   }
.first-section{
    text-align: center;
   }
.first-sc-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 6%;
}
/*-------main-------*/
/*first section*/
.my-button{
    background-color: #2196F3;
    color: white;
}
.my-button:hover{
    color: #101011;
    background-color: #f1f4f6;
}
.my-button:focus{
     outline: none;
     box-shadow: 0 0 5px rgba(0, 128, 255, 0.5);
}
.section-title {
    text-transform: capitalize;
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 3%;

}
.section-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
  color:#757575;
}


  /*second section */

.scnd-sec-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 3%;
    text-align: center;
}
/*section3*/
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 3%;
    text-align: center;
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 3%;
    text-align: center;
}
.team-job {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 3%;
    text-align: center;

}
/*footer*/
.footer{
    background-color: #2F303A;
}
span{
    color: rgb(39, 123, 179);
}
.footer-logo{
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 3%;
    color: white;
}
.footer-item-adrs{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 3%;
color: white;
}

.footer-item #cls{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 3%;
    color: #FFFFFF99;
}/*не знаю як правильно ,семантично написати щоб цей текст став сірим ;(*/
