.background {
    background-color: #2F303A;
    color: white;
   }
   .my-button{
       background-color: #2196F3;
       color: white;
   }
   .team{
       background-color: #F5F4FA;
   }
   .information{
       background-color: #2F303A;
   }
   