:root {
    --axent-color: #dde5ec;
}



.background {
    background-color: #2F303A;
    color: white;
   }
   .my-button{
       background-color: #2196F3;
       color: white;
   }
   .team{
       background-color: #F5F4FA;
   }
   .information{
       background-color: #2F303A;
   }
   li{
    list-style-type: none;
    text-decoration: none;/*тут теж не хоче*/
   }

/*-----header-----*/
.main-logo {
    font-family:"Raleway",sans-serif;
    letter-spacing: 3%;
    font-size: 26px;
    font-weight: 700px;
    line-height: 1.17;
    text-decoration: none;
}
.nav-item{
    font-family:"Roboto", sans-serif;
    font-weight: 500px;
    letter-spacing: 2%;
    font-size: 14px;
    line-height: 1.17;
    text-decoration: none;/*  не працює чомусь :(  */
}
.nav-item-inf:hover{
    text-decoration: none;
    color: var(--axent-color);
    background-color: #f1f4f6;
    
}


   