.subscribe {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  color: white;
  margin-bottom: 20px;
}
.email {
  background-color: #2f303a;
  border: 1px solid border #ffffff4d;
  width: 358px;
  height: 50px;
  padding-left: 10px;
  border-radius: 4px;
  margin-right: 12px;
}
.button-footer {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  border-radius: 4px;
  transition-property: background-color;
}
.button-footer:hover {
  background-color:$text;
  transition-duration: 250ms;
  transition-delay: 3ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-send {
  width: 23.999996185302734px;
  height: 24.000051498413086px;
  position: relative;
  top: 13px;
  right: 38px;
}


.wrapchk {
  display: flex;
}
.footer-t-s {
  position: relative;
  left: 500px;
  top: -187px;
}
