.footer {
  background-color: #2f303a;
  padding-top: 30px;
    
    
}

.footer-list{
margin-bottom: 60px;
}
.footer-item{
   display: flex;
     justify-content: center;
     @media screen and (min-width: 1200px){
     justify-content: left;
}
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
 display: flex;
 color: white;
     justify-content: center;
     margin-bottom: 20px;
   @media screen and (min-width: 1200px){
     justify-content: left;
}
}
.footer-logo:hover {
  color:$text;
}
.footer-item-adrs {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
  color: white;
  padding-bottom: 10px;
  margin-top: 10px;
  font-style: normal;
   display: flex;
  
     justify-content: center;
     @media screen and (min-width: 1200px){
     justify-content: left;
}
}
.footer-first-link {
  color: rgba(255, 255, 255, 0.613);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  margin-bottom: 10px;
}
.footer-first-num {
  color: rgba(255, 255, 255, 0.613);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
}
.footer-item #cls {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
  color: #ffffff99;
  padding-bottom: 10px;
}
.footer-s-title {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
}

.footer-svg {
  width: 20px;
  height: 20px;
  fill: white;
  transition-property: fill;
}
.footer-svg:hover {
  fill: #ffffff;
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-wrap {
  position: relative;
display: flex;
flex-direction:column;
flex-wrap: nowrap;
align-content: space-between;
align-items: center;
margin-bottom: 60px;
     @media screen and (min-width: 1200px){
   flex-wrap: wrap;
   align-content: space-around;
}
}
.footer-svg-item {
  display: inline;
  margin-right: 12px;
}
.vgh-footer-hover {
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 360px;
  display: inline-block;
  background-color: #ffffff1a;
  transition-property: background-color;
}
.vgh-footer-hover:hover {
  background-color: #2196f3;
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}





 .subscribe {
 @extend %text;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  color: white;
  margin-bottom: 20px;
   display: flex;
     justify-content: center;
     @media screen and (min-width: 1200px){
     justify-content: left;
}
}
.email {
  background-color: #2f303a;
  border: 1px solid border #ffffff4d;
  width: 358px;
  height: 50px;
  padding-left: 10px;
  border-radius: 4px;
  margin-right: 12px;
}
.button-footer {
  width: 200px;
  height: 50px;
  @extend %text;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  @include button();
  transition-property: background-color;
}
.button-footer:hover {
  background-color:$text;
  transition-duration: 250ms;
  transition-delay: 3ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-send {
  width: 23.999996185302734px;
  height: 24.000051498413086px;
  position: relative;
  top: 13px;
  right: 38px;
}


.wrapchk {
  
 display: flex;
     justify-content: center;
     @media screen and (min-width: 1200px){
     justify-content: left;
}
}
