.header-svg {
  fill:#757575;
}
.header-svg:hover {
  fill: #2196f3;
}
.svg-header:hover {
  fill: #2196f3;
}
.header {
  margin-bottom: 32px;
  margin-top: 32px;
}
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  letter-spacing: 3%;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  transition-property: color;
}
.logo:hover,
.logo:focus {
  color:$axent;
  color: #2196f3;
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
span {
  color:$axent;
}

.header-letter {
  width: 16px;
  height: 12px;
  position: relative;
  top: 2px;
  right: 4px;
}
.header-phone {
  width: 10px;
  height: 16px;
  position: relative;
  top: 3px;
  right: 5px;
}
.nav-list {
 @extend %flex;
  @media screen and (min-width: 480px){
      display: none;
   }
      @media screen and (min-width: 1200px){
        display: flex;
    }

}
.nav-item {
  color: #212121;
  margin-right: 50px;
  transition-property: color;

}
.nav-item :hover {
  color: #2196f3;
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item-under {
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: transparent;
  display: block;
  transition-property: background-color;
}

.nav-item-under:hover {
  background-color: #2196f3;
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-undertwo {
  width: 75px;
  height: 4px;
  border-radius: 2px;
  background-color: transparent;
  display: block;
  transition-property: background-color;
}
.nav-item-undertwo:hover {
  background-color: #2196f3;
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item-underthree {
  width: 68px;
  height: 4px;
  border-radius: 2px;
  background-color: transparent;
  display: block;
  transition-property: background-color;
}
.nav-item-underthree:hover {
  background-color: #2196f3;
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 2%;
  font-size: 14px;
  line-height: 1.17;
  color: #000000;
}
.nav-item:last-child {
  margin-right: 344px;
}
.address {
  @extend %flex;
  justify-content: space-between;
    @media screen and (min-width: 480px){
      display: none;
   }
    @media screen and (min-width: 1200px){
        display: flex;
    }
}
.nav-adress {
  margin-right: 50px;
  text-decoration: none;
  color:$firstlogo;
  font-size: 14px;
  font-family: "Roboto", serif;
  font-weight: 500;
  line-height: 1.17;
  transition-property: color;
}
.nav-adress :hover {
  color: #2196f3;
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-adress:last-child {
  margin-right: auto;
}
.nav-adress:hover,
.nav-adress:focus {
  color: #2196f3;
}

.mob-open{
    display: block;
    margin-left: 0;
    border: none;
  background-color: #00000033;
    background-color: transparent;
     @media screen and (min-width: 1200px){
      display: none;
    }

}
.mob-menu{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #27272b16;
 
}
.mob-img{
  background-color: transparent;
     @media screen and (min-width: 1200px){
      display: none;
    }
}
.is-hidden{
    display: none;
}
.mob-menu.is-hidden {
  pointer-events: none;
  opacity: 0;
}
.mob {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
 padding-left: 25px;
}
.mob-close{
  width: 30px;
  height: 30px;
border: none;
  background-color: transparent;
  position: relative;
  left: 450px;
  bottom:550px;
}







.modelone {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
  letter-spacing: 3%;
  text-align: center;
  color: black;
  margin-top: 35px;
}
.nametitleone {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 1%;
  color: #757575;
 
}
.inputnameone {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #21212133;
  margin-bottom: 10px;
 
}

.namenumberone {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #21212133;
  margin-bottom: 10px;
}
.inputnubmerone {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 1%;
  color: #757575;
 
}
.modal-personone {
  width: 15px;
  height: 15px;
  position: relative;
  right: 440px;
  fill: #212121;
}
.modal-phoneone {
  width: 15px;
  height: 15px;
  position: relative;
  right: 440px;
  fill: #212121;
}
.modal-envelopeone {
  width: 15px;
  height: 15px;
  position: relative;
  right: 440px;
  fill: #212121;
}
.inputemailone {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 1%;
  color: #757575;
 
}
.nameemailone {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #21212133;
  margin-bottom: 10px;
}

.checkboxone {
  position: relative;
  top: 22px;
  right: 430px;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
}
.nametextareaone {
  font-family: "Roboto" sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 1%;
  color: #757575;
}
.inputtextareaone {
  margin-top: 20px;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid border #21212133;
}

.inputagreementone {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  color: #757575;
  margin-left: 45px;
}
.checkboxone{
  position: relative;
left: -430px;
}



.submit-btnone {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #2196f3;
  background-color: #2196f3;
  color: #ffffff;
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  margin-top: 30px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  transition-property: background-color;
  margin-left: 130px;
}
.submit-btnone:hover {
  background-color: rgba(128, 128, 128, 0.53);
  transition-duration: 0.5s;
  transition-delay: 1ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}







.mob-list {
margin-bottom: 220px;
margin-top: 20px;

}
.mob-item {
  font-family: "Roboto",sans-serif;
font-weight: 500;
font-size: 40px;
line-height: 100%;
letter-spacing: 2%;
text-align: left;
color: #212121;
margin-bottom: 30px;
}
.mob-item:hover{
color: #2196f3;
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.mobnav-list {
}
.mobnav-item {
  font-family: "Roboto",sans-serif;
font-weight: 500;
font-size: 24px;
line-height: 100%;
letter-spacing: 2%;
color: #757575;
margin-bottom: 40px;

}
.mobnav-item:hover{
  color: #2196f3;
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.mob-listtwo {
  display: flex;
  justify-content: space-evenly;
}
.mob-itemtwo {
  font-family: "Roboto",sans-serif;
font-weight: 500;
font-size: 18px;
line-height: 22px;
letter-spacing: 2%;
color: #2196F3;
margin-right: 20px;

}


