.svghover:hover {
    padding: 12px;
    border-radius: 50%;
 border-color: transparent;
  border-radius: 360px;
  display: inline-block;
  background-color:$axent;
  transition-duration: 250ms;
  transition-delay: 1ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) f;
}
.svghover {
  
  transition: background-color;
}
.team {
  background-color: #f5f4fa;
  padding-bottom: 94px;

   @media (min-width:1200px){
   padding: 94px 0;
 
  }
}
.team-wrap {
  justify-content: space-between;
 @extend %flex;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 3%;
  text-align: center;
  padding-bottom: 50px;

   @media (min-width:1200px){
    font-size: 28px;
    margin-bottom: 30px;
  }
  
   @media (min-width:1200px){
    font-size: 36px;
    margin-bottom: 50px;
}}
.team-list {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  display: flex;
  flex-direction: column;
    @media (min-width:768px) and (max-width:1199px){
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media (min-width:1200px){
flex-wrap: nowrap;;
    
  }
}
.team-item{
  width: 100%;
    @media (min-width:768px) and (max-width:1199px){
   width: 354px;
  }
  @media (min-width:1200px){
    width: 270px;
    
  }
}
.team-image {
  padding-bottom: 30px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 3%;
  text-align: center;
  padding-bottom: 10px;
}
.team-job {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 3%;
  text-align: center;
  padding-bottom: 10px;
}
.teamsvg-wrap {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  margin-bottom: 30px;
  margin-top: 16px;
}

.team-svg {
  width: 20px;
  height: 20px;
  fill:$text;
  transition-property: fill;
}
.team-svg:hover {
  fill: var(--maintext);
  display: block;
  color: #2196f3;
  transition-duration: 250ms;
  transition-delay: 2ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}